.candidate-list {
    display: flex;
    flex-direction: column;
}

.candidate-row {
    display: flex;
    border-bottom: 1px solid black;
}

.candidate-item {
    flex: 1 1 30%;
}

@media (max-width: 800px) {
    .candidate-row {
        flex-wrap: wrap;
    }
    .candidate-item:first-of-type {
        flex: 1 1 100%;
    }
}

@media (max-width: 500px) {
    .candidate-row {
        flex-direction: column;
    }
    .candidate-item:not(:first-child) {
        padding-left: 20px;
    }
}
